main {
    flex-direction: row;
    justify-content: start;
    margin-top: 2rem;
}

#bioImg img {
    width: 300px;
    margin: 2rem;
}

#bioText {
    width: 60%;
    text-wrap: wrap;
}

#bioText h2 {
    margin-bottom: 1rem;
}

.emptyDiv {
    margin-top: 20rem;
    opacity: 0;
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    #bioText {
        width: 90%;
    }

    nav a {
        font-size: 16px;
    }
}