main > div {
    display: flex;
    width: 80%;
}

.separation {
    margin: 10px;
    align-content: center;
}

#bioImg img {
    margin-top: 7px;
    width: 200px;
}

#bioText {
    width: 80%;
    flex-wrap: wrap;

}