:root {
    --textcolor: #ffffff;
    --backco: #000000;
    --linkco: #63D681;
    --blockco: #3475D2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: "Roboto Mono", monospace;*/
    font-family: "Josefin Sans", sans-serif;
}

html {
    width: 100%;
}

html,
#headerText > div,
body,
#content,
nav ul {
    display: flex;
}

body {
    flex-direction: column;
    align-items: end;
    width: 100%;
    min-height: 100vh;
    background-color: var(--backco);
    color: var(--textcolor);
}

nav {
    position: fixed;
    background-color: var(--backco);
    right: 1rem;
    top: 1rem;
    z-index: 1;
    font-size: 20px;
}

nav ul {
    justify-content: end;
}

nav a:visited {
    color: var(--textcolor);
}

nav li {
    padding: 1em;
}

main {
    margin-top: 5rem;
}

#backgroundBiography {
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}

#headerText > div {
    flex-direction: column;
}

#headerText > div > div {
    display: flex;
}

#headerText h1 {
    padding-left: 10px;
}

#headerText h1,
#headerText h2 {
    font-size: 120px;
}

#headerText p {
    padding-left: 10px;
}

#content {
    width: 100%;
    flex-wrap: wrap;
}

.boxContent {
    background: linear-gradient(180deg,var(--backco) 30%, transparent);
    z-index: 1;
    width: 20%;
    margin: 2rem;
}

footer {
    position: fixed;
    background-color: var(--backco);
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    #logoimg {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    nav {
        font-size: 16px;
    }

    header {
        padding-top: 5rem;
    }

    #headerText > div > div {
        flex-direction: column;
    }

    #headerText p {
        width: 80%;
    }

    #content {
        flex-direction: column;
    }
}