:root {
    --textcolor: #6EBDD6;
    --backco: #40736F;
    --linkco: #63D681;
    --blockco: #3475D2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto Mono", monospace;
}

html {
    overflow-y: scroll;
}

body,
main,
header,
#headerText,
.content {
    display: flex;
    justify-content: center;
}

#logoimg {
    width: 400px;
    mix-blend-mode: multiply;
    margin: erem
}

body {
    flex-direction: column;
    align-items: end;
    background-color: var(--backco);
}

header {
    align-items: center;
}

#headerText {
    flex-direction: column;
    align-items: center;
}

#secondTittle,
#tittle {
    font-weight: 900;
    font-size: 80px;
    color: var(--linkco);
}

#secondTittle {
    margin-left: 7px;
}

header p {
    word-wrap: break-word;
    padding-left: 8px;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#moreButton a {
    background: linear-gradient(90deg,var(--blockco) 30%, transparent);
    color: var(--linkco);
    font-weight: 900;
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 3rem;
    width: 100%;
    background: linear-gradient(var(--blockco) 30%, transparent);
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    padding: 20px;
    color: var(--linkco);
    font-weight: 900;
}

main {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    margin-top: 8rem;
    margin-bottom: 11rem;
}

.divSeparation {
    width: 60%;
    margin: 10px;
}

.divSeparation > div > h2 {
    margin-bottom: 5px;
    text-align: center;
}

.divSeparation > div > p {
    text-align: justify;
    padding: 20px;
}

footer {
    font-weight: 900;
    padding: 10px;
}

@media screen and (max-width: 480px) {

    main{
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    #logoImg {
        margin: 0;
    }

    #secondTittle,
    #tittle {
        margin: 0;
        text-align: center;
        font-size: 54px;
    }

    header p {
        width: 90%;
        margin-left: 1rem;
        text-align: center;
    }

    .content {
        margin-top: 10rem;
    }

    nav ul {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav a {
        font-size: 16px;
    }
}