#backgroundBiography,
main,
.divSeparation,
.flexDiv {
    display: flex;
}

nav {
    z-index: 2;
}

#backgroundBiography {
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: 0;
    right: 0;
}

#cancion {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#cancion p{
    padding-left: 1rem;
}

audio::-webkit-media-controls-panel {
    background-color: var(--textcolor);
}

.mediaSize {
    z-index: 1;
    width: 8rem;

}

main {
    padding-top: 5rem;
    width: 100%;
}

.content {
    width: 100%;
    margin-left: 2rem;
    flex-direction: row;
    z-index: 1;
}

.divSeparation {
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;
}

.flexDiv {
    width: 50%;
}

.textBox {
    width: 30%;
    margin: 1rem;
    background: linear-gradient(90deg,var(--backco) 10%, transparent);
    z-index: 1;
}

@media screen and (max-width: 480px) {
    #backgroundBiography {
        position: fixed;
        width: 100%;
        z-index: 0;
        bottom: 0;
        right: 0;
    }

    .content {
        width: 90%;
    }

    nav {
        font-size: 16px;
    }

    #cancion {
        position: relative;
        width: 90%;
        padding-bottom: 3rem;
    }

    .divSeparation,    
    main {
        margin: 0;
        flex-direction: column;
    }

    .textBox p {
        background: linear-gradient(180deg,var(--backco) 30%, transparent);
        width: 150%;
    }

    .flexDiv {
        margin-bottom: 2rem;
    }
}

