.mediaSize {
    width: 150px;
}

main {
    flex-direction: column;
    align-items: center;
}

main > div {
    display: flex;
    justify-content: center;
    width: 80%;
}

.portDiv {
    display: flex;
}

.portDiv h2,
.portDiv p {
    margin-left: 10px;
}

.divSeparation > div{
    margin-bottom: 20px;
}

.mediaSize:hover {
    
    width: 400px;
}

#cancion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

@media screen and (max-width: 480px) {

    .portDiv,
    main div {
        flex-direction: column;
        align-items: center;
    }

    .portDiv div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }
}